{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

</head>
<body>
<h1>Рейтинг за  {% now 'd-m-Y' %}</h1>
  <div id="container" style="width: 75%;">
    <canvas id="population-chart" data-url="{% url 'students' %}"></canvas>
  </div>
<div>Ура, мы в Гите!</div>
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  <script src="{% static 'js/Chart.min.js'%}"></script>
 <script>

    $(function () {

      var $populationChart = $("#population-chart");
      $.ajax({
        url: $populationChart.data("url"),
        success: function (data) {

          var ctx = $populationChart[0].getContext("2d");

          new Chart(ctx, {
            type: 'bar',
            data: {
              labels: data.labels,
              datasets: [{
                label: 'Студенты',
                backgroundColor: 'blue',
                data: data.data
              }]
            },
            options: {
              responsive: true,
              legend: {
                position: 'top',
              },
              title: {
                display: true,
                text: 'Рейтинг студентов'
              }
            }
          });

        }
      });

    });

  </script>
</body>
</html>